@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CSS */
.fade-enter {
  opacity: 0;
  transform: translateY(20px); /* Initial position, translate down */
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0); /* Final position, translate to original position */
  transition: opacity 500ms, transform 500ms;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0); /* Initial position for exit, already at original position */
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(20px); /* Translate down for exit */
  transition: opacity 500ms, transform 500ms;
}

